# Core Frameworks for building APIs
fastapi
uvicorn[standard]
python-multipart

# langchain & AI
langchain-google-genai
langchain
langchain-qdrant
langchain-community
langchain-text-splitters

# Vector database
qdrant-client

# Document Processing
pypdf
python-docx

# Configuration & Validation
pydantic
pydantic-settings
python-dotenv

# Logging & Monitoring
structlog
langsmith==0.4.55


# HTTP Client
httpx
datasets  # To create our evaluation dataset in RAGAS
ragas==0.3.7